.home{
    height: 100vh;
    background: linear-gradient(to right top, #0b3c86, #004d7a, #008793, #00bf72, #a8eb12);
}

.imgRow{
    flex-wrap: nowrap;

    div{
        cursor: pointer;
        overflow: hidden;
        border-radius: 5px;

        img{
            transition: .3s;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &:hover{
            img{
                transform: scale(1.2);
            }
        }
    }
}